KushinaAnimeBot/config.py
KushinaAnimeBot/*.session
KushinaAnimeBot/*.session-journal
KushinaAnimeBot/config.ini
log.txt
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
KushinaAnimeBot/modules/helper_funcs/temp.txt
KushinaAnimeBot/elevated_users.json
start-3.6.bat
*.session
kangsticker.png
venv
env
Kushina.session-journal
updates.txt
*.exe
